<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Details</title>
  </head>
  <body>
    <span>Welcome ????</span>
    <h2>Book Details</h2>
    <h3>Basic Details</h3>
    <p>{{ book.name }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.pages }}</p>

    <h3>More details</h3>
    <p>{{ book.publication.name }}</p>
    <i>{{ book.publication.ratings }}</i>

    <h3>Reviews</h3>
    {% for review in book.review_set.all %}
      <div>
        <i>{{ review.name }}</i>
        <p>{{ review.description }}</p>
      </div>
    {% endfor %}
  </body>
</html>
