{% extends 'libmgmt/layouts/master_public.html' %}

{% block title %}
  Welcome
{% endblock %}

{% block header %}
  Welcome to my home
{% endblock %}

{% block mainContent %}
  <form method="post" action="{% url 'library:showhome' %}" novalidate="novalidate">
    {% csrf_token %}
    <!--<p>
      <input type="text" name="username" placeholder="Enter Username">
    </p>
    <p>
      <input type="password" name="password" placeholder="Enter Password">
    </p>-->
    {{ form.as_p }}
    <p>
      <input type="submit" value="Login">
      <a href="{% url 'library:register' %}">New User ? Sign Up</a>
    </p>
  </form>
{% endblock %}
