{% extends 'libmgmt/layouts/master_public.html' %}

{% load static %}

{% block title %}
  Register
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'libmgmt/vendor/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'libmgmt/vendor/jquery-ui.structure.min.css' %}">
  <link rel="stylesheet" href="{% static 'libmgmt/vendor/jquery-ui.theme.min.css' %}">

  <script src="{% static 'libmgmt/vendor/jquery.js' %}"></script>
  <script src="{% static 'libmgmt/vendor/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block header %}
  Register Here!
{% endblock %}

{% block mainContent %}
  <form novalidate="novalidate" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <input type="submit" value="Register">
    </p>
  </form>
  <script type="text/javascript">
    $('.datepicker').datepicker();
  </script>
{% endblock %}
